* {
  background-color: #d8be9d;
  overflow: hidden;
  \\border: solid 1px;\\
}
.navbar {
  background-color: #d8be9d;
  z-index: 99999;
}
.navbar-nav {
  margin-left: 300px;
}
.navbar-nav li a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-top: 60px;
}
section {
  padding-top: 130px;
}
.jbpic {
  background-image: url(https://github.com/Vivian10894/image/blob/main/ENlkf08UEAATOHq.jpg?raw=true);
  background-size: cover;
  height: 330px;
  width: 220px;
  z-index: 99;
}
hr {
  width: 100%;
  margin: 0 auto;
  border: 0;
  height: 0.3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0)
  );
}
.info {
  font-family: "Montserrat", sans-serif;
  font-weight: 100px;
  width: 300px;
}
.j {
  position: absolute;
  top: 180px;
}